.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card-item {
    flex: 0 0 calc(33.333% - 16px);
    /* Calcula el 33.333% del ancho y resta el espacio entre las tarjetas */
    max-width: calc(33.333% - 16px);
    /* Ajusta el ancho máximo */
}

.row-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    /* Ajusta según sea necesario */
    padding: 8px;
    /* Ajusta según sea necesario */
    border: 1px solid #ddd;
    /* Añade un borde para resaltar la fila */
}

.row-link:hover {
    background-color: #f5f5f5;
    /* Cambia el color de fondo al pasar el ratón */
}